# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
app/.venv/
venv/
.env/
.venv/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Python egg metadata
*.egg-info/
*.egg

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database
*.sqlite3

# Databases
app/db/*.db

# Log files
*.log

# Temporary files
*.tmp
*.swp

# IDEs
.idea/
